@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$backgroundColorPrimary: #1f1f1f;
$textColorPrimary: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColorPrimary;
  color: $textColorPrimary;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

button {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0);
  color: $textColorPrimary;
  border: 1px solid rgba(255, 255, 255, 0.1);
  // font-size: 0.75em;
  cursor: pointer;
  transition: background 100ms cubic-bezier(0.16, 1, 0.3, 1);

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

input {
  padding: 0.5em;
  padding-left: 1em;
  background-color: rgba(0, 0, 0, 0);
  color: $textColorPrimary;
  border: 1px solid rgba(255, 255, 255, 0.1);
  // font-size: 0.75em;
  cursor: text;
  transition: background 100ms cubic-bezier(0.16, 1, 0.3, 1);
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

// div.react-draggable {
//   transition: transform 150ms cubic-bezier(0.16, 1, 0.3, 1);
// }

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 250ms cubic-bezier(0.83, 0, 0.17, 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.statuses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
