@use "../../styles/vars.scss";

.div {
  padding: 1em;
  width: 900px;
  height: 400px;

  background-color: vars.$sectionDivBackgroundColor;

  @include vars.sectionDiv;

  ul {
    display: flex;
    padding-right: 1em;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: auto;
    flex-flow: column nowrap;
    scroll-snap-type: y proximity;

    li {
      @include vars.listDiv;

      p {
        font-style: italic;
      }

      &:last-child {
        scroll-snap-align: end;
      }
    }
  }
}
