@use "../../styles/vars.scss";

.div {
  padding: 1em;
  width: 900px;
  height: 400px;

  background-color: vars.$sectionDivBackgroundColor;

  @include vars.sectionDiv;
}

.status_div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  @include vars.listDiv;

  button {
    margin-right: 1em;
    margin-left: auto;
  }
}
